deepgram-sdk>=3.10.1
python-dotenv>=0.9.9
edge-tts>=6.1.0
groq>=1.0.0
kokoro>=0.9.4
mediapipe>=0.10.32
numpy>=2.4.2
phonemizer>=3.3.0
pygame>=2.6.1
pyttsx3>=2.99
silero-vad>=6.2.1
sounddevice>=0.5.5
soundfile>=0.13.1
speechbrain>=1.0.3
torchaudio>=2.10.0
